body {
    border-top-color: blue;
     width: 620px;
     height: 110px
}
.p {
    font-size: 90px;
}
.header {
    background-color: red;
}
.main {
    background-color : blue;
}
.footer {
    background-color: green;
}