body {
    background-color: #3CB310;
   margin: 0em;
   height: 100vh;
   width: 100vw;
}
header {
    background-color: blue;
    width: 300vh;
    height: 12.5vh;
     padding-top: none;
     margin-top: 0em;
}
footer {
    background-color: red;
    height: 25vh;
    margin-bottom: 400em;
    margin-top: 30em;
    
}